body {
  background: #DEF2F1;
  color: #17252A;
}

.name {
  padding-left: 1%;
  background: #FEFFFF;
  color: #2B7A78;
  text-align: center;
  font-weight: bold;
  font-size: 1.8em;
  border-bottom: 2px solid;
  border-bottom-color: #17252A;
}