body {
    background: #858891;
    color: #17252A;
}

.bookmark {
    font-weight: bold;
    font-style: italic;
    color: white;
    text-align: center;
    height: 39px;
    font-size: 24px;
    border-bottom: 1px solid black;
    text-shadow: 1px 1px grey;
    padding-left: 15px;
}

.action-button {
    font-size: 0.6em;
    font-weight: bold;
    float: right;
    height: 38px;
    width: 38px;
    border: 1px solid black;
}

.edit {
    border-bottom-left-radius: 150px;
    border-top-left-radius: 150px;
    margin-left: 10px;
    background-color: #e4a907;
}

.delete {
    border-bottom-right-radius: 150px;
    border-top-right-radius: 150px;
    margin-right: 1px;
    background-color: #d73744;
}

.no-content {
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    align-self: center;
    margin: 10px;
    text-shadow: 1px 1px grey;
}

.add-button {
    border: 1px solid black;
    margin: 10px 10px;
    border-radius: 50%;
}
