.new-column-button-wrapper {
    align-self: center;
}

.new-column {
    width: 50px;
    height: 50px;
    font-size: 25px;
    background-color: #89a8c2;
}

.column-head {
    margin-bottom: 5px;
    background-color: #89a8c2;
    max-width: 350px;
    min-height: 39px;
    height: auto;
}

.column {
    display: block;
    min-width: 350px;
    margin: 10px;
    border: 1px solid black;
    background-color: #c3c6cb;
}

