.bookmark {
    background: #2B7A78;
    color: #DEF2F1;
    font-size: 1.5em;
    padding-left: 2%;
    margin-left: 1%;
    font-style: italic;
    font-weight: bolder;
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-color: #FEFFFF;
    border-radius: 10px 0px 0px 0px;
}

.bookmark-info {
    color: #2B7A78;
    background: #DEF2F1;
    font-size: 1.5em;
    padding-left: 2%;
    margin-left: 1%;
    font-style: normal;
    font-weight: bold;
    padding-left: 0%;
    text-align: center;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: #FEFFFF;
    border-radius: 10px 0px 0px 0px;
}

.input {
    margin-left: 1%;
}

.textfield {
    border-radius: 0px 0px 0px 10px;
}