.navbar {
    background: #17252A;
    color: #DEF2F1;
    width: 100%;
    font-size: 2em;
    height: 75px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.hello {
    margin-left: 20px;
}

.dialogBtn {
    font-weight: bold;
    margin-left: 30px;
}

.header {
    font-style: italic;
    font-weight: bold;
}

.infoButton {
    margin-right: 20px;
    font-weight: bold;
    width: 120px;
}

.info {
    text-align: justify;
}