.navbar {
    background: #303132;
    color: #DEF2F1;
    width: 100%;
    font-size: 2em;
    height: 75px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.hello {
    margin-left: 20px;
}

.nick-change {
    font-weight: bold;
    margin-left: 30px;
}

.header {
    font-style: italic;
    font-weight: bold;
}

.info-button {
    margin-right: 20px;
    font-weight: bold;
    width: 120px;
}

.info {
    text-align: justify;
}

@media (max-width: 680px) {
    .info-button {
        font-size: 0.4em;
        width: auto;
        margin: 0;
    }

    .nick-change {
        font-size: 0.4em;
        margin-left: 7px;
    }

    .hello {
        margin: 0;
        font-size: 0.8em;
    }

    .header {
        font-size: 0.8em;
        margin-right: 7px;
    }
}