.new-task {
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: #afc6d8;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.task-head {
    background-color: #afc6d8;
    border-radius: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid black;
}

.task {
}

.time-button {
    background-color: #041e3d;
    border-radius: 10px;
    float: left;
    height: 38px;
    width: 38px;
    border: 1px solid black;
}

.MuiDialogContentText-root {
    text-align: center;
}

.hour {
    font-weight: bold;
}